<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/genre" method="post">
      <label for="newGenre">Add new genre: </label>
      <input type="text" name="newGenre" id="newGenre">
      <button type="submit">Create</button>
    </form>
    <form onsubmit="return confirm('This will remove genre from all attached games. Are you sure?');" action="/genre" method="POST">
      <label for="deleteGenre">Delete genre:</label>
      <select name="deleteGenre" id="deleteGenre">
        <% genres.forEach(genre => { %>
          <option value=<%= `${genre.genre_id}` %>><%= genre.genre %></option>
        <% }); %>
      </select>
      <button type="submit">Delete</button>
    </form>
    <% if (locals.genres) { %>
    <ul>
      <% genres.forEach(genre => { %>
      <li>
        <a href=<%= `/genre/${genre.genre_id}` %>><button><%= genre.genre %></button></a>
      </li>
      <% }); %>
    </ul>
    <% } %>
  </body>
</html>
